*.class
target/
build/
out/

# IntelliJ Idea Files #
.idea/
*.iml
*.ipr
*.iws

# Package Files #
*.jar
*.war
*.ear


*~
\#*\#
.#*
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp

.gradle/